@using ExamBizland.View_Models

@{
    ViewData["Title"] = "Index";
    int Count = 1;
}

@model PaginateVM<Team>

<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="align-content-xl-end d-flex mr-2 mb-3">
                <a asp-action="Create" class="btn btn-success">Create</a>
                </div>
            <h4 class="card-title">Team Table</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Professsion
                            </th>
                            <th>
                                Setting
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @(Count++)
                                </td>
                                <td class="py-1">
                                    <img src="~/manage/images/faces/@item.Image" alt="image" />
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Profession.Name
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="mdi mdi-pencil"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="mdi mdi-delete-variant"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <ul>
            @if(Model.CurrentPage!=1)
            {
                <li><a asp-controller ="Team" asp-action="Index"  asp-route-page="@(Model.CurrentPage-1)">Pre</a></li>
            }
            @for(int i=1;i<=Model.PageCount;i++)
            {
                <li class="nav-item @(Model.CurrentPage==@i ? "active" : "" )"><a asp-controller="Team" asp-action="Index" asp-route-page="@i">@i</a></li>
            }
            @if(Model.CurrentPage!=Model.CurrentPage)
            {
                <li><a asp-controller="Team" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)">Next</a></li>
            }
        </ul>
    </div>
</div>